<div id="signUpForm">
  <%# form_for :user,  url: users_path do |user_form| %>

  <!-- we passed @users as a local from the main.html.erb file which originated from the controller -->
  <%= form_for @user do |user_form| %>
    <%= user_form.text_field :screen_name , :placeholder => "screen name"%>
    <%= user_form.password_field :password , :placeholder => "password"%>
    <%= user_form.text_field :first_name , :placeholder => "first name"%>
    <%= user_form.text_field :last_name , :placeholder => "last name"%>
    <%= user_form.email_field :email , :placeholder => "email"%>
    <%= user_form.submit %>
  <% end %>
</div>
